.search-bar-response {
    width: 90%;
    min-width: 600px;
    margin: 5% auto;
    padding: 1.5%;
    background-color: #f0f0f0;
    border: .05em solid #ddd;
    border-radius: .7em;
    box-shadow: 0 0 .8em rgba(0, 0, 0, 0.1);
  }

  .search-bar-response-results {
    width: 90%;
    min-width: 600px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    border: .05em solid #ddd;
    border-radius: .7em;
    box-shadow: 0 0 .8em rgba(0, 0, 0, 0.1);
  }
  
  .search-bar-response input[type="text"] {
    width: 70%;
    height: 50%;
    padding: 1.5%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 2%;
    border: .05em solid #ccc;
    font-weight: bold;
    font-size: medium;
    border-radius: 1em;
  }

  .search-bar-response-results input[type="text"] {
    width: 80%;
    height: 50%;
    padding: 1.5%;
    margin-bottom: 0.7%;
    margin-top: 0.7%;
    margin-right: 0.7%;
    margin-left: 0.7%;
    border: .05em solid #ccc;
    font-weight: bold;
    font-size: medium;
    border-radius: 1em;
  }
  
  .search-bar-response button[type="submit"] {
    width: 20%;
    height: 30%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: .7em;
    cursor: pointer;
    font-weight: bold;
  }