  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
  }

  .logo-container-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    cursor: pointer;
  }

  .logo {
    font-family: 'Catamaran', sans-serif;
    font-size: 3.1em;
    font-weight: 700;
    display: flex;
    padding:5%;
    height:100%;
  }

  .logo-results {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    display: flex;
    padding: 0%;
    height: 100%;
  }

  .logo span {
    text-shadow: 1em 1em 2em rgba(0, 0, 0, 0.1);
    transform: skew(-5deg);
  }

  .logo span:not(.space) { 
    text-shadow: 1em 1em 2em rgba(0, 0, 0, 0.1);
    transform: skew(-5deg);
    display: inline-block;
    margin: 0 .02em;
  }

  .space {
    display: inline-block;
    width: 0.5em; 
    transform: none !important; 
  }
  